Repository Seneca-CDOT/ostep-dashboard, pull requests merged in 2019-10, with the labels that each got.

#96 fix: README markdown
  README.md
Labels: area: documentation, priority: low

#99 Issues/89 help wanted priority regex
  Github/service.js
Labels: container: github, type: enhancement

#104 Add denmark to infrastructure
  Infrastructure/Dockerfile
  Infrastructure/checkService.js
  Infrastructure/config.js
  README.md
Labels: area: backend, difficulty: starter, priority: high, tech: docker, type: enhancement

#100 Issues/ 92 Add PR Reminder Panel
  Dashboard/src/App.css
  Dashboard/src/App.js
  Dashboard/src/components/Reminder.js
  Dashboard/src/components/assets/pull-request_wh.svg
  Dashboard/src/config.js
  Dashboard/src/debug/dummy-data.js
  Github/service.js
Labels: area: frontend, difficulty: medium, priority: medium, tech: React, type: enhancement

#109 Issues/97 Infrastructure discrepancies
  Infrastructure/checkService.js
Labels: container: infrastructure, difficulty: medium, priority: medium, type: bug
